.di {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.bx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 40%;
  background-color: khaki;
  flex-direction: column;
  border-style: dashed;
  border-color: black;
}
.bx1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 60%;
  background-color: khaki;
  border-color: burlywood;
  border-style: solid;
}
.bx2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  flex-direction: column;
  width: 30%;
  height: 90%;
  border-style: dotted;
  border-color: black;
}
.bx3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  flex-direction: column;
  width: 30%;
  height: 90%;
  margin-left: 20%;
  border-color: black;
  border-style: dotted;
}
